@charset "utf-8";

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
:root{
  --main-color:rgb(42, 138, 109);
  --base-color:rgb(116, 102, 33);
  --s-color:rgba(116, 102, 33, 0.552);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--main-color);
}
.container{
  width: 800px;
  margin: 200px auto 0;
  text-align: center;
  /* background-color:var(--s-color) ; */
}
.weather{
  width: 50%;
}
#form{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  
}
#usercity{
  padding: 10px;
  border: 1px solid var(--main-color);
}
#submit{
  margin-top: 20px;
  padding: 10px ;
  background: none;
  cursor: pointer;
  color: var(--main-color);
  box-shadow: 4px 2px 2px 2px ;
  /* background-color: var(--s-color); */
}
#submit:hover{
  box-shadow: none;
}

#description{
  padding: 10px;
  margin-top: 20px;
}
#description li{
  margin-top: 20px;
}