@charset "utf-8";

:root {
  --main-color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 1000px;
  margin: 100px auto 0;
  text-align: center;
  color: blue;
}

#form {
  margin-top: 30px;
  /* display: flex;
  align-items: center; */
}

#uservalue {
  padding: 10px;
  border: 1px solid var(--main-color);
}

#submit,
#lists li button {
  padding: 5px;
  color: red;
  border: var(--main-color);
  margin-left: 20px;
  cursor: pointer;
}
#lists {
  width: 50%;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#lists li {
  border-bottom: 1px solid var(--main-color);
  width: 50%;
  padding: 5px;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
